body
{
    background-image: url(dinoGame.png);
    background-size: 110%;
    background-attachment: initial;
    background-repeat: no-repeat;
    background-position-x: -110px;
    background-position-y: -100px;
}

.avatar
{
    display: block;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    padding: 20px;
    background-color: black;
    position: sticky;
    top:0;
    z-index: 1;
}

div
{
    background-color: rgb(197, 176, 149); 
    padding:5px;
    position: absolute;
    top: 400px;
    left: 0px;
}

p 
{
    font-family: 'Courier New';
}
p.top
{
    
    font-size: 30pt;
   
}

p.desc1
{
   font-size: 20pt;
}


p.origin
{
    width: 80%;
    text-align: center;
    border-radius: 1%;
    padding: 5px;
    background-color: white;
    transition: .5s;
    margin-left: auto;
    margin-right: auto;
}



p.origin:hover 
{
    transform: scale(1.2);
}



p.battle
{
    width: 80%;
    text-align: center;
    border-radius: 1%;
    padding: 5px;
    background-color: gray;
    color: red;
    transition: .5s;
    margin-left: auto;
    margin-right: auto;
}

p.battle:hover 
{
    transform: scale(1.2);
}

p.help
{
    width: 80%;
    text-align: center;
    border-radius: 1%;
    padding: 5px;
    background-color: black;
    color: white;
    transition: .5s;
    margin-left: auto;
    margin-right: auto;
}

p.help:hover
{
    transform: scale(1.2);
}

.link 
{
    color: yellow;
}